<footer class="footer">
  <div class="row" style="margin-top:15px;" >
    <div class="col-md-5" >
      <div class = "copyalpha" >
        Questions? Contact info@CrowdPublish.TV 
        <br><br>(C) Copyright 2018, RoleModel Enterprises, LLC. All Rights Reserved.
      </div>
    </div>
  </div>
</footer>